#socialmedia {
	text-align: right;
}

.navbar {
	background-color: #c27255;
	margin-top: 10px;
}

.navbar-nav {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	width: 100%;
}

.navbar-nav{
	color: #fff;
	font-family: 'Bungee', cursive;
}


.navbar-toggler-right {
	position: relative;
}

/*
.img {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 62.5%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50px;
  display: block;
  text-align: center;
  margin-top: 5px;
}`*/

.img responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin-top: 5px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	margin-top: 5px;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	margin-top:10px;
	padding: 0;
	margin-bottom:10px;
}


ul.social-network li {
	display: inline;
	margin: 5px;
}



.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoYoutube:hover {
	background-color:#CB2027;
}

.social-network a.icoFacebook:hover i, .social-network a.icoInstagram:hover i, .social-network a.icoYoutube:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #c27255;   
}

.icoFacebook {
	align-content: right;
}

h1{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Bungee', cursive;
	color: #fff;
}

a{
	color:#fff;
}


p{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h4{
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 12pt;
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #c27255;	
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
  }

  h2{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Bungee', cursive;
	color: #fff;
	text-align: center;
}

  h3{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 14pt;
}


.hover08 figure .img-fluid {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover .img-fluid {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/*
function myMap() {
    var mapCanvas = document.getElementById("map");
    var mapOptions = {
        center: new google.maps.LatLng(51.5, -0.2),
        zoom: 10
    };
    var map = new google.maps.Map(mapCanvas, mapOptions);
}*/


body{
	background-size: cover;
	background-color: #3fa397;
	padding-bottom: 75px;
}

.btn-primary {
    color: #fff;
    background-color: #c27255;
	border-color: #fff;
	font-family: 'Bungee', cursive;
	border-radius: 0%;
	padding: 10px;
	margin: 15px;
}

.btn:focus, .btn:hover{
    color: #fff;
    background-color: #583c2f;
	border-color: #fff;
	font-family: 'Bungee', cursive;
	border-radius: 0%;
	padding: 10px;
	margin: 5px;
	text-decoration: none;
}
a:focus,a:hover{
	color: #fff;
	text-decoration: none;
}

label.col-sm-2.col-form-label{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.col-form-label {
	border-radius: 0%;
	border-color: #c27255;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff
}

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active{
	color:#583c2f;
}

p strong {
	font-weight: 700;
}

@media screen and (max-width: 480px) {
	.koffie {
		text-align: center;
	}
	.gebak {
		text-align: center;
	}
	.foodtext {
		padding-left: 30px;
		padding-right: 30px;
	}
	.round-images h2 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.contacttitle {
		padding-left: 30px;
	}
	.contacttext {
		padding-left: 30px;
		padding-right: 30px;
	}
	.btn-primary.aboutusbutton {
		margin-left: 40px;
	}
	.btn-primary.contactbutton {
		margin-left: 30px;
	}
	.form-control {
		margin-left: -50px;
	}
	.aboutustext {
		padding-right: 30px;
	}
	.bookustitle {
		padding-left: 30px;
	}
	.bookustext {
		padding-left: 30px;
		padding-right: 30px;
	}
	.upcomingeventstitle {
		padding-left: 30px;
	}
	.upcomingeventstext {
		padding-left: 30px;
		padding-right: 30px;
	}
	.logo {
		padding-left: 20px;
	}
	div#koffie {
		text-align: center;
	}
	.dessert {
		padding-bottom: 50px;
	}
	.drinks {
		padding-bottom: 50px;
	}
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


.map-responsive {
	width: 100%;
    margin-bottom: 10%;
}